<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="home-page">
    <div class="sanjay-dv">Sanjay DV</div>
    <div class="home">Home</div>
    <div class="about">About</div>
    <div class="contact">Contact</div>
    <div class="let-s-create-a-website-design">LET’S CREATE A WEBSITE DESIGN</div>
    <div
      class="i-am-sanjay-dv-a-software-engineer-with-2-years-of-experience-in-backend-engineering-and-developing-data-pipelines-for-ml-applications"
    >
      I am Sanjay DV, a software engineer with 2 years of experience in backend
      engineering and developing Data pipelines for ML applications.
    </div>
    <div class="rectangle"></div>
    <div class="get-started">Get Started</div>
    <div class="sanjay-dv-university-of-maryland-fall-2025">
      © Sanjay DV | University of Maryland | Fall 2025
    </div>
  </div>
  
</body>
</html>